#banner {
  background: url("../imgs/about_page/banner.png") center;
  padding: 7vw 3vw 0;
  background-size: 100%;
  .inner {
    width: 28%;
    min-width: 220px;
    background-color: white;
    margin: auto;
    padding: 1rem;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
  }
}
#quote {
  padding: 7vw 3vw 3vw;
  .inner {
    width: 40%;
    min-width: 400px;
    margin: auto;
    border: 1.5rem solid $grey;
    padding: calc(2rem + 2vw);
    border-radius: 5rem;
    p {
      font-size: 1.5rem;
      font-family: $serif;
      text-align: center;
      font-style: italic;
    }
    small {
      display: block;
      text-align: center;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}
#wwd {
  padding: 2vw;
  .row.flex {
    width: 80%;
    margin: auto;
    padding: 2vw;
    gap: 8%;
    row-gap: 3rem;
    div {
      width: 30%;
      img {
        width: 100%;
      }
      &.img {
        width: 40%;
        border-radius: 4rem;
        overflow: hidden;
        min-width: 400px;
      }
      &.text {
        min-width: 250px;
        h3,
        p,
        a {
          margin-block: 1vw;
        }
      }
    }
  }
}
#team {
  background-color: $grey;
  padding: 4vw 2vw;
  .inner {
    width: 80%;
    margin: auto;
    text-align: center;
    h2,
    .row.flex {
      margin-block: calc(1rem + 2vw);
    }
    .row.flex {
      gap: 3%;
      row-gap: 2rem;
      .person {
        position: relative;
        border-radius: 2.5rem;
        overflow: hidden;
        min-width: 230px;
        width: 20%;
        img{
          width: 100%;
        }
        .details {
          position: absolute;
          background-color: white;
          inset: 0;
          opacity: 0;
          transition: all 0.5s;
          div{
            margin-block: calc(1rem + .5vw);
          }
          a{
            display: block;
            margin: 6px 0;
            font-size: 1rem;
          }
          .socials *{
            margin: 0 15px;
            font-size: 1rem;
          }
        }
        &:hover {
          outline: 10px solid white;
          outline-offset: -9px;
          .details {
            opacity: 1;
          }
        }
      }
    }
  }
}
#mail{
  padding: 4vw 2vw;
  .inner{
    width: 55%;
    margin: auto;
    h2{
      text-align: center;
      margin: 0 2vw 3vw;
    }
    form{
      width: 100%;
      .row.flex{
        width: 100%;
        margin: calc(1rem + 1vw) auto 0;
        gap: 5%;
        min-width: 30rem;
        input{
          width: 45%;
          min-width: 20rem;
          border: none;
          border-bottom: 1px solid black;
          padding: 1vw .3vw;
          margin: 1 vw 0;
        }
      }
      textarea, button{
        margin: calc(1rem + 1vw) auto;
        display: block;
      }
      textarea{
        width: 80%;
        resize: none;
        height: 7rem;
        border: none;
        border-bottom: 1px solid black;
        padding: 1vw .3vw;
        min-width: 30rem;
      }
    }
  }
}

// media query

@media screen  and (max-width: 1160px){
  #mail{
    .inner{
      width: 65%;
    }
  }
}
@media screen and (max-width: 930px) {
  #wwd {
    .row.flex {
      div {
        width: 50%;
        &.text {
          text-align: center;
          .button {
            margin: auto;
          }
        }
      }
    }
  }
  #mail{
    .inner{
      width: 75%;
    }
  }
}
@media screen  and (max-width: 760px){
  #mail{
    .inner{
      width: 85%;
    }
  }
}
@media screen and (max-width: 650px) {
  #wwd {
    .row.flex {
      width: 90%;
      div {
        width: 40%;
        &.text {
          width: 70%;
        }
      }
    }
  }
  #mail{
    .inner{
      width: 95%;
    }
  }
}
@media screen  and (max-width: 565px){
  #mail{
    .inner{
      width: 100%;
    }
  }
}
@media screen  and (max-width: 530px){
  #mail{
    .inner{
      form{
        .row.flex{
          width: 80%;
          input{
            width: 100%;
            margin: calc(1rem + 1vw) auto;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #wwd {
    .row.flex {
      div {
        width: 80%;
        &.img {
          min-width: 350px;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  #quote {
    .inner {
      min-width: 100%;
    }
  }
}
@media screen and (max-width: 400px) {
  #wwd {
    .row.flex {
      width: 100%;
      div {
        width: 80%;
        min-width: 100% !important;
      }
    }
  }
}
