#banner {
  background: url("../imgs/about_page/banner.png") center;
  padding: 7vw 3vw 0;
  background-size: 100%;
  .inner {
    width: 28%;
    min-width: 220px;
    background-color: white;
    margin: auto;
    padding: 1rem;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
  }
}
#quote {
  padding: 7vw 3vw 3vw;
  .inner {
    width: 40%;
    min-width: 400px;
    margin: auto;
    border: 1.5rem solid $grey;
    padding: calc(2rem + 2vw);
    border-radius: 5rem;
    p {
      font-size: 1.5rem;
      font-family: $serif;
      text-align: center;
      font-style: italic;
    }
    small {
      display: block;
      text-align: center;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}
#wwd {
    padding: 2vw;
  .row.flex {
    width: 80%;
    margin: auto;
    padding: 2vw;
    gap: 8%;
    row-gap: 3rem ;
    div {
      width: 30%;
      img {
        width: 100%;
      }
      &.img {
        width: 40%;
        border-radius: 4rem;
        overflow: hidden;
        min-width: 400px;
      }
      &.text {
        min-width: 250px;
        h3,
        p,
        a {
          margin-block: 1vw;
        }
      }
    }
  }
}


// media query

@media screen and (max-width: 930px) {
    #wwd{
        .row.flex{
            div{
                width: 50%;
                &.text{
                    text-align: center;
                    .button{
                        margin: auto;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 650px) {
    #wwd{
        .row.flex{
            width: 90%;
            div{
                width: 40%;
                &.text{
                    width: 70%;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    #wwd{
        .row.flex{
            div{
                width: 80%;
                &.img{
                    min-width: 350px;
                }
            }
        }
    }
}
@media screen and (max-width: 450px) {
    #quote{
        .inner{
            min-width: 100%;
        }
    }
}
@media screen and (max-width: 400px) {
    #wwd{
        .row.flex{
            width: 100%;
            div{
                width: 80%;
                min-width: 100% !important;
            }
        }
    }
}