#banner.blog {
  background: url("https://res.cloudinary.com/qaz2dc/image/upload/v1682201537/Interno/Blog/banner_kzzveg.jpg")
    center;
  background-size: cover;
}
#latest,
#blog {
  .inner {
    margin: auto;
    .loader {
      margin: 2rem;
      svg {
        margin: auto;
      }
    }
  }
}
#latest {
  padding: 2vw;
  .inner {
    // width: 70%;
    padding: 2vw;
    h2 {
      padding-block: 1rem;
    }
    .widget {
      border-radius: 2rem;
      border: 1px solid $grey;
      padding: 1rem;
      gap: 4%;
      row-gap: 3rem;
      position: relative;
      .img {
        width: 48%;
        border-radius: 1.5rem;
        overflow: hidden;
        // max-height: 30rem;
        height: inherit;
        // max-height: 100%;
        position: relative;
        min-width: 250px;
        img {
          object-fit: cover;
          width: 121%;
          transition: all 0.5s;
        }
        .overlay {
          position: absolute;
          inset: 0;
          transition: all 0.5s;
        }
        &:hover {
          img {
            // width: 128%;
          }
          .overlay {
            background-color: #00000052;
          }
        }
      }
      .text {
        width: 48%;
        min-width: 250px;
        h4,
        p > div,
        div {
          margin-block: 1.5rem;
          transition: all 0.5s;
        }
        svg {
          width: 35px;
          height: 35px;
          padding: 10px;
          background-color: $grey;
          border-radius: 100%;
          transition: all 0.5s;
          path {
            transform: translateX(20px);
          }
        }
        a:hover {
          text-decoration: none;
          h4 {
            color: $brown;
          }
          svg {
            background-color: $brown;
            fill: white;
          }
        }
      }
    }
  }
}
#latest ~ #blog {
  .inner {
    .row {
      .column {
        .image {
          height: 50%;
          img {
            object-fit: cover;
            width: 135%;
            cursor: pointer;
          }
          &:hover {
            img {
              width: 145%;
            }
          }
        }
        a {
          display: block;
          &:hover {
            text-decoration: none;
            h3 {
              color: $brown;
            }
            svg {
              fill: $brown;
            }
          }
        }
      }
    }
  }
}

// width: 100%;
#pagination-container {
  padding: 2vw;
  .pagination {
    margin: auto;
    width: fit-content;
    width: 100%;
    max-width: 30rem;
    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      // padding: 1rem;
      // margin: 0 1rem;
      border-radius: 100%;
      border: 1px solid $brown;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transition: all 0.5s;
      a {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      &.selected {
        background-color: $brown;
        color: white;
        a {
          color: white;
        }
      }
      svg {
        transition: all 0.5s;
      }
      &:hover {
        background-color: $brown;
        color: white;
        a {
          color: white;
          text-decoration: none;
        }
        svg {
          fill: white;
        }
      }
    }
  }
}

@media screen and (max-width: 721px) {
  #latest .inner {
    .widget {
      .img,
      .text {
        min-width: 100%;
      }
    }
  }
}
