.inner {
  width: 80%;
}
#hero {
  padding: 3vw 10vw;
  min-height: 50vw;
  background: url(../imgs/hero.jpg) bottom center no-repeat;
  background-size: cover;
  .inner {
    * {
      margin-block: 10px;
    }
    button {
      border: none;
      background-color: $main;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 10px;
      width: 30%;
      min-width: 130px;
      svg {
        margin: 0;
        color: $brown;
      }
    }
  }
  border-bottom-left-radius: 13rem;
}
#work {
  padding: 8vw;
  .inner {
    // width: 100%;
    max-width: 80%;
    gap: 5%;
    row-gap: 1rem;
    .column {
      text-align: center;
      min-width: 200px;
      * {
        margin-block: 10px;
      }
      a {
        gap: 15px;
        svg {
          color: $brown;
        }
      }
    }
  }
}
#about {
  width: 100%;
  .inner {
    width: 80%;
    gap: 5%;
    row-gap: 2rem;
    .text {
      width: 50%;
      * {
        margin-block: 20px;
      }
      h2 {
        width: 80%;
      }
      .contact {
        gap: 10px;
        * {
          margin: 0;
        }
        .phone {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          color: $brown;
          background-color: $grey;
        }
      }
      button {
        border: none;
        background-color: $main;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 10px;
        width: 40%;
        min-width: 180px;
        svg {
          margin: 0;
          color: $brown;
        }
      }
    }
    .img {
      width: 45%;
      overflow: hidden;
      border-top-right-radius: 11rem;
      border-bottom-left-radius: 5rem;
      img {
        width: 100%;
      }
    }
  }
}
#testimonial {
  padding: 10vw 5vw;
  .inner {
    background-color: $grey;
    padding: 3vw;
    border-radius: 20px;
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .row {
      padding-block: 20px;
      gap: 5%;
      row-gap: 2em;
      .column {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 3vw 2vw;
        min-width: 200px;
        .head {
          gap: 5px;
          .avatar {
            width: 4rem;
            height: 4rem;
            img {
              width: 100%;
            }
          }
          p {
            margin: 0;
          }
        }
        .head,
        p {
          margin-block: 20px;
        }
      }
    }
  }
}
#clients {
  padding: 3vw 5vw;
  .inner {
    gap: 5%;
    row-gap: 3rem;
    img {
      min-width: 120px;
      max-width: 200px;
      width: 10%;
      height: 100%;
    }
  }
}
#projects {
  padding: 5vw 3vw;
  .inner {
    .head {
      text-align: center;
      padding: 2vw;
      width: 60%;
    }
    .projects {
      padding: 2vw;
      row-gap: 4rem;
      .column {
        width: 90%;
        &:nth-child(1) .image {
          border-top-right-radius: 3.7rem;
        }
        &:nth-child(2) .image {
          border-top-left-radius: 3.7rem;
        }
        &:nth-child(3) .image {
          border-bottom-right-radius: 3.7rem;
        }
        &:nth-child(4) .image {
          border-bottom-left-radius: 3.7rem;
        }
        .image {
          width: 100%;
          overflow: hidden;
          margin-block: 20px;
          img {
            width: 100%;
            display: block;
          }
        }
        .description {
          margin-block: 20px;
          strong {
            font-weight: 500;
          }
          p {
            font-weight: 300;
          }
          svg {
            background-color: $grey;
            color: $main;
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            padding: 1rem;
          }
        }
      }
    }
  }
}
#counter {
  background-color: $grey;
  padding: 7vw 5vw;
  .inner {
    row-gap: 2rem;
    .column {
      text-align: center;
      min-width: 150px;
      max-width: 200px;
      width: 100%;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-right: 1px solid $brown;
      }
      h1 {
        color: $brown;
      }
    }
  }
}
#blog {
  padding: 3vw;
  * {
    transition: 0.5s all;
  }
  .inner {
    .head {
      width: 60%;
      text-align: center;
      margin-bottom: 20px;
      * {
        margin-block: 10px;
      }
    }
    .row {
      padding: 2vw;
      gap: 1rem;
      .column {
        border: 1px solid $grey;
        border-radius: 50px;
        overflow: hidden;
        padding: 0.4vw 1vw;
        min-width: 20rem;
        .image {
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          // padding: 1vw;
          position: relative;
          width: 100%;
          max-height: 15.5rem;
          //   min-height: 16rem;
          overflow: hidden;
          img {
            width: 100%;
          }
          p {
            position: absolute;
            bottom: 2vw;
            left: 1.5vw;
            padding: 8px 16px;
            background-color: #ffffff;
            border-radius: 10px;
            border-bottom-left-radius: 0;
          }
        }
        h3 {
          margin-block: 20px;
        }
        div {
          margin-block: 20px;
          svg {
            background-color: $grey;
            width: 3rem;
            height: 3rem;
            padding: 1rem;
            border-radius: 100%;
          }
        }
        &:hover {
          background-color: $grey;
          .image {
            img {
              width: 120%;
            }
          }
          div {
            svg {
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
}
#cta {
  padding: 5vw 8vw;
  .inner {
    background-color: $main;
    border-radius: 40px;
    padding: 3vw;
    text-align: center;
    * {
      color: #ffffff;
      max-width: 60%;
      margin-block: 5px;
    }
    a {
      background-color: $brown;
      padding: 10px 20px;
      border-radius: 10px;
      min-width: 125px;
      line-height: 2px;
      svg {
        margin: 0;
        fill: $main;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media screen and (max-width: 1111px) {
  #counter {
    .inner {
      .column {
        &:nth-child(3) {
          border-right: 0;
        }
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  #hero {
    .inner {
      max-width: 40%;
    }
  }
}
@media screen and (max-width: 833px) {
  #counter {
    .inner {
      .column {
        &:nth-child(2) {
          border-right: 0;
        }
        &:nth-child(3) {
          border-right: 1px solid $brown;
        }
      }
    }
  }
}
@media screen and (max-width: 760px) {
  #about {
    .inner {
      // flex-direction: column-reverse;
      .text {
        width: 100%;
      }
      .img {
        width: 60%;
      }
    }
  }
}
@media screen and (max-width: 833px) {
  #counter {
    .inner {
      .column {
        &:nth-child(1),
        &:nth-child(3) {
          border-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #about {
    .inner {
      // flex-direction: column-reverse;
      .text {
        width: 100%;
      }
      .img {
        display: none;
      }
    }
  }
  #cta {
    .inner {
      * {
        max-width: 100%;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  #hero {
    justify-content: center;
    .inner {
      max-width: 60%;
      text-align: center;
      button {
        margin: auto;
      }
    }
  }
  #projects{
    .inner{
      .projects{
        gap: 8%;
        .column{
          max-width: 45%;
        }
      }
    }
  }
}
@media screen and (min-width: 300px) {
  #hero {
    justify-content: center;
    .inner {
      max-width: 90%;
      text-align: center;
      button {
        margin: auto;
      }
    }
  }
}
